<h1>Full Inventory</h1>
<br>
<div class="container-fluid">
<div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4">
        <h3><%= product.name %></h3>
        <h3><%= product.price %></h3>
        <h3><img src=<%= product.image %> style="width:275px;height:275px;"></h3>
        <h4><%= product.description %></h4>
        <br>
      </div>
    <% end %>
</div>
</div>