<h1>Top Beer of the Week</h1>
<br>

<h3><%= @product.name %></h3>
<h3><%= @product.price %></h3>
<h3><img src=<%= @product.image %> style="width:300px;height:300px;"></h3>
<h3><%= @product.description %></h3>
<br>
